h3{
    text-align: center;
    text-transform: uppercase;
    font-family: GamalielMedium;
    font-size: 30px;
    font-weight: normal;
}

.art{
    margin: auto;
}

td{
    background-color: black;
    height: 200px;
    width: 150px;
    border: 6px solid white;
}

#one{
    background-color: #FF6700;
}
#two{
    background-color: #EBEBEB;
}
#three{
    background-color: #C0C0C0;
}
#four{
    background-color: #3A6EA5;
}
#five{
    background-color: #004E98;
}